<% stock = product_order.last.product.nil? ? @product.stock : product_order.last.product.stock %>

<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Cantidad</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <%= simple_form_for product_order do |f| %>
      <div class="modal-body">
        <%= f.input_field :quantity, collection: 1..stock, class: "mx-3"%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <%= f.button :submit, "Confirmar cantidad", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
