<br>
<br>
<div class="container">
  <h1>TRABAJAMOS CON LAS MEJORES MARCAS</h1>
</div>
<br>
<br>
<br>
<br>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTv-hkyHvXd5WbczrxoLNKtl_zIWiu4iuB-Ww&usqp=CAU">
    <div class="card-body">
      <h5 class="card-title">CRYSTAL NAILS</h5>
      <p class="card-text">Crystal Nails es una de las mejores marcas de insumos profesionales para las uñas a nivel mundial. Está disponible en 32 países a lo largo de 4 continentes. Más de 300 medallas con 220 primeros lugares en Competiciones Mundiales son un éxito increíble para Crystal Nails, pero los verdaderos ganadores son las Uñas que embellecen a cientos de miles.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>

