
<div class="container p-5 mb-5 d-flex justify-content-center">
  
  <h1>TRABAJAMOS CON LAS MEJORES MARCAS</h1>
</div>

<div class="card-deck">    
  <div class="card shadow p-0 mb-5 rounded">
    <%= image_tag "logocrystalnails.png", class: "card-img-top w-50 m-5"%>
    <!-- <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTv-hkyHvXd5WbczrxoLNKtl_zIWiu4iuB-Ww&usqp=CAU"> -->
    <div class="card-body">          
      <p class="card-text">Hoy Crystal Nails es considerada una marca innovadora en el mundo de las uñas. Cada año hay desarrollos significativos en colores, técnicas y nuevos productos. En los últimos 15 años la calidad ha mejorado gracias al trabajo de un equipo inspirador. Todos los químicos que trabajan para Crystal Nails a nivel mundial utilizan la ciencia para proveer de los mejores polímeros a nuestros Instructores quienes ponen su amplia experiencia al servicio de los geles, polímeros y esmaltes Crystal Nails. Con esto se buscan productos perfectos. Siempre ayudan con entrenamientos de clase mundial. Esta disponible en 32 países a lo largo de 4 continentes.</p>
    </div>        
  </div>
  <div class="card shadow p-0 mb-5 rounded">
    <%= image_tag "logoorganic.png", class: "card-img-top  w-50 m-5"%>
    <!-- <img class="card-img-top" src="https://http2.mlstatic.com/D_NQ_NP_702643-MLM42691464098_072020-F.webp" alt="Card image cap"> -->
    <div class="card-body">      
      <p class="card-text">Con más de 25 años de experiencia en la industria del cuidado y embellecimiento de manos y pies, Organic Nails es líder del mercado con un excelente soporte educativo, productos de calidad e innovación y el compromiso en todo lo que hacemos. Son el legado de una pasión que a través de entrega, compromiso y dedicación generamos oportunidades de negocio, bienestar e inspiración para las aplicadoras profesionales de uñas y distribuidores de nuestra marca. Gracias al esfuerzo de miles de personas que comparten el mismo amor y pasión por el mundo de las uñas, han logrado una sólida marca basada en los principios de cercanía, respaldo, variedad y garantía.</p>
    </div>
  </div>
  <div class="card shadow p-0 mb-5 rounded">
    <%= image_tag "logocrisnails.png", class: "card-img-top w-50 m-5"%>
    <!--<img class="card-img-top" src="http://crisnails.es/img/prestashop-logo-1459599602.jpg" alt="Card image cap">-->
    <div class="card-body">     
      <p class="card-text">El compromiso de Saber Comprar Chile con la belleza y el bienestar comienza hace más de 15 Años. En este tiempo, la empresa se ha convertido en uno de los principales referentes en el campo profesional de la estética en nuestro país y CRISNAIL, es la marca española que representa en Chile para el cuidado de manos y uñas. Ofrecer la mejor garantía de calidad, fiabilidad y compromiso se ha convertido en el principal objetivo de SABER COMPRAR CHILE. Para ello, ha creado una red de infraestructuras dirigidas a cubrir todas las áreas de negocio: Ventas en terreno e internet, logística, formación, asistencia técnica y seguimiento post-venta.</p>
    </div>
  </div>
</div>

