<h1>Supliers#show</h1>
<p>Find me in app/views/supliers/show.html.erb</p>

<div class="container">
  <div class="row row-cols-1 row-cols-md-6">

    <%= render 'shared/cards', lista: @suplier.products %>

  </div>
</div>
