<br>
<br>
<div class="container">
  <h1 class="my-5 text-center"><%= @suplier.name.upcase %></h1>
  <div class="row row-cols-1 row-cols-md-6">
    <%= render 'shared/cards', lista: @suplier.products %>
  </div>
</div>
