<% lista.each do |product| %>
  <div class="col mb-4 rounded">
    <%= link_to product_path(product), class:"text-decoration-none bg-text-card rounded" do %>
      <div class="shadow card h-100 rounded">
        <%= image_tag product.url_img, class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
