<br>
<br>
<div class= "container">

<ul class="nav d-flex justify-content-between">
  
  <%= image_tag("logoAB.png", size: "60x60", alt: "logoAB")%>

  <li class="nav-item">
    <a class="nav-link" href="#">Home</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">Products</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">Suppliers</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Correo</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"><i class="fab fa-instagram"></i></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"><i class="fab fa-facebook"></i></a>
  </li>

</ul>
<ul class="d-flex justify-content-center list-unstyled small text-muted">
    <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="https://www.google.cl/maps/place/Rep+%C3%81rabe+de+Egipto+216,+Las+Condes,+Regi%C3%B3n+Metropolitana/@-33.4103857,-70.5710629,17z/data=!3m1!4b1!4m5!3m4!1s0x9662cede0ffef1b5:0xcf5ce4f531991dc0!8m2!3d-33.4103902!4d-70.5688689">Dirección: República Árabe de Egipto 216, oficina 502 (Metro Manquehue), Santiago / +56 9 94404516</a>
    </li>
  </ul>
</div>
<br>
<br>
