<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://static.wixstatic.com/media/fef5a5_d228e7d960534d54b54b7eee0a20b1ef~mv2.jpg/v1/fill/w_1349,h_489,al_c,q_85,usm_0.66_1.00_0.01/fef5a5_d228e7d960534d54b54b7eee0a20b1ef~mv2.webp);">
 <div class="container">
    <div class="d-flex justify-content-center">
      <p>¡Las mejores marcas de Manicura en un solo lugar!</p> 
    </div>
  </div>
 
  <div class="container">
    <div class="d-flex justify-content-center">
      <h1>ALL BEAUTY</h1>    
      <br>
              
    </div>
  </div>
  <br>
  
  <div class="container">
    <form novalidate="novalidate" class="simple_form search" action="/search" accept-charset="UTF-8" method="get">
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" placeholder="buscar" id="search_form" name="q" />
        <button type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
        </button>
      </div>
    </form>
    <br>
    <a class="btn btn-danger" href="#">Ofertas</a>
  </div>
</div>
<br>
<br>
<br>
<div class="container">
  <div class="justify-content-center">
    <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://storagehexacommerce.blob.core.windows.net/manicure/Presentaciones/4/132315574605817788.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Artistic</h5>
      <p class="card-text">Shellac tiene un nuevo sistema de maquillaje de uñas que se aplica como un esmalte, dura como un gel, tiene acabado espejo (brillo extremo), secado inmediato y se elimina en minutos con acetona pura, sin necesidad de limar la superficie de la uña.</p>
      <p class="card-text"><small class="text-muted">SKU: 5996487072843</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://www.crystalnails.cl/wp-content/uploads/2020/04/800x500_fusion.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Crystal Nails</h5>
      <p class="card-text">Crystal Nails es una de las mejores marcas de insumos profesionales para las uñas. Está disponible en 32 países a lo largo de 4 continentes. Más de 300 medallas con 220 primeros lugares en Competiciones Mundiales son un éxito increíble para Crystal Nails, pero los verdaderos ganadores son las Uñas que embellecen a cientos de miles.</p>
      <p class="card-text"><small class="text-muted">SKU: 6006487072912</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://dojiw2m9tvv09.cloudfront.net/34105/product/X_kitbasico3911.jpg?35" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Organic Nails</h5>
      <p class="card-text">Con más de 25 años de experiencia en la industria del cuidado y embellecimiento de manos y pies, Organic Nails es otro gran líder del mercado con un excelente soporte educativo, productos de calidad e innovación y el compromiso en todo lo que hacen.</p>
      <p class="card-text"><small class="text-muted">SKU: 4556487072850</small></p>
    </div>
  </div>
</div>
  </div>
</div>


        <!--
        
        <div class="carousel slide">
          <div id="carouselExampleSlidesOnly" class="carousel slide"  data-ride="carousel">
          <div class="carousel-inner">
        
          <div class="carousel-item active">
          <img src="" alt="First slide">      
          </div>

          <div class="carousel-item">
          <img src="https://www.crystalnails.cl/wp-content/uploads/2020/04/slide1_sikari2.jpg" alt="Second slide">        
          </div>-->
        
          <!--
          <div class="carousel-item">
          <img src="https://assets.jumpseller.com/store/importadora-yuval/themes/185313/options/8964446/GELCOLOR%20POSTER.jpg?1599270471" alt="Second slide">        
          </div>

          <div class="carousel-item">
          <img src="https://www.crystalnails.cl/wp-content/uploads/2020/05/960x720_builder_gels.jpg" alt="Third slide">     
          </div>
        </div>  
      </div>
    </div>  
  </div>
</div>-->
      
  