.banner {
    background-size: cover;
    background-position: center;
    height: 100vh;

  h2 {
    color: $primary;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }

  p {
    font-size: 20px;
    color: $primary;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  @media(max-width: 576px) {
    .logo{
      height: 150px;
      width: 150px;
    }
    &{
      height: 55vh;
    }
  }

  @media(min-width: 576px) {
    &{
      height: 70vh;
    }
  }

  @media(min-width: 768px) {
    &{
      height: 85vh;
    }
  }

  @media(min-width: 992px) {
    &{
      height: 100vh;
    }
  }

}
.banner2{
  background-size: cover;
  background-position: center;

  h1{
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}






