.bg-text-card{
  color: $purple
}

.card-opasity{
  background: rgba(201, 11, 52, 0.2);
}

.product-card{
  h6{
    font-size: 14px;
  }
  p{
    font-size: 12px;
  }
  .btn{
    padding: 4px 8px;
    font-size: 10px;
  }

}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 3px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  justify-content: space-between;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip-infos {
  .btn{
    padding: 2px 8px;
    font-size: 10px;
  }
}

.product-name{
  margin-bottom: 25px;
}

.btn-ghost {
  color: #999595;
  border: 1px solid #999595;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 0.6;
  transition: opacity 50s ease;
}
