.card-opasity{
  background: rgba(30, 0, 36, 0.9);
}

.product-card{
  h6{
    font-size: 14px;
  }

  p{
    font-size: 12px;
  }

  .btn{
    padding: 4px 8px;
    font-size: 10px;
  }

}

.product-name{
  margin-bottom: 25px;
}


.card-group{
  margin-left: 10px;
}

.no-stock {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(black, 0.2);
  font-size: 2rem;
}
