.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  justify-content: space;
}

.img-nav{
  width: 80px;
  margin: 0px;
  padding: 0px;
}

.tam-icon-nav{
  font-size: 32px;
}
