.img-nav{
  width: 45px;
  @media(max-width: 576px) {
    width: 40px;
  }
}

.tam-icon-nav{
  font-size: 15px;  
}

.fa-shopping-bag{
  color: rgb(245, 10, 73)
}

.navbar {
  background: rgba(251, 250, 252, 0.1);
  &:hover {
  background: rgba(251, 250, 252, 1);
  }

}
