<h1>Categories#show</h1>
<p>Find me in app/views/categories/show.html.erb</p>

<div class="container">
  <div class="row row-cols-1 row-cols-md-6">

    <%= render 'shared/cards', lista: @category.products %>

  </div>
</div>
