<br>
<br>
<div class="container">
  <h1>PRODUCTOS SEGÚN LA CATEGORIA</h1>
</div>
<!--<p>Find me in app/views/categories/show.html.erb</p> -->
<br>
<br>
<br>
<div class="container">
  <div class="row row-cols-1 row-cols-md-6">

    <%= render 'shared/cards', lista: @category.products %>

  </div>
</div>
