<br>
<br>
<div class="text-center">
  <h1>TODOS TUS PRODUCTOS, EN UN SOLO LUGAR</h1>
</div>
<!-- así se comenta en html-->
<br>
<br>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>

<div class="container">

  <div class="row row-cols-1 row-cols-md-6">
    <%= render 'shared/cards', lista: @products %>
  </div>
</div>
