<h1>TODOS LOS PRODUCTOS DE LAS MEJORES MARCAS</h1>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3">
    <% @products.each do |product| %>
      <div class="col d-flex align-items-stretch">
        <div class="card mb-3 px-3">
          <%= image_tag product.url_img, class: "card-img-top" %>
          <div class="card-body d-flex row">
            <h5 class="card-title"><b><%= product.name %></b></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <%= link_to "ver mas", product_path(product), class:"align-self-end btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <a href="#">esto es una prueba de como se comportan los enlaces en bootstrap</a>
</div>
