<div class="jumbotron banner2" style="background-image: radial-gradient(rgba(255,255,255,0.5), rgba(0,0,0,0.3)), url(https://source.unsplash.com/featured/?manicure);">
  <h1 class="text-center my-2">TODO PARA TU NEGOCIO EN UN CLICK</h1>
</div>
<div class="container">
  <div class="row row-cols-1 row-cols-md-6">
    <%= render 'shared/cards', lista: @products %>
  </div>
</div>

